# Data Exploration
Exploring the Titanic dataset.
Import the dataset first:

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('./datasets/train.csv')
print data.head()
print data.describe()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    male   22      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                             Heikkinen, Miss. Laina  female   26      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
4                           Allen, Mr. William Henry    male   35      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

/home/jsutker/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

Now try some stuff

This looks at the average age of survival in each class. Also, when in first class, it seems that those who survived paid a significantly higher fare.

In [3]:
data.groupby(['Survived','Pclass']).mean()

                 PassengerId        Age     SibSp     Parch       Fare
Survived Pclass
0        1        410.300000  43.695312  0.287500  0.300000  64.684008
         2        452.123711  33.544444  0.319588  0.144330  19.412328
         3        453.580645  26.555556  0.672043  0.384409  13.669364
1        1        491.772059  35.368197  0.492647  0.389706  95.608029
         2        439.080460  25.901566  0.494253  0.643678  22.055700
         3        394.058824  20.646118  0.436975  0.420168  13.694887

Let's take a closer look at the survivors from second class and see the average ages of the different genders. Judging by the means, it looks like the women and children were indeed the most likely to survive, at least in the second class.

In [13]:
survived = data[data.Survived==1]
print survived.Age[(survived.Sex=='male') & (survived.Pclass==2)].mean()
print survived.Age[(survived.Sex=='female') & (survived.Pclass==2)].mean()

16.022
28.0808823529

This just explores if the port that passengers embarked from affected survival rates among different demagraphics. If a passenger was from Cherbourg or Southampton, younger men and older women were more likely to survive, but younger people from Queenstown were more likely to survive than their older counterparts regardless of gender.

In [17]:
data.groupby(['Survived','Embarked', 'Sex']).mean()

                          PassengerId    Pclass        Age     SibSp  \
Survived Embarked Sex
0        C        female   365.000000  2.777778  25.583333  0.444444
                  male     415.969697  2.121212  34.744444  0.227273
         Q        female   612.444444  3.000000  28.100000  0.111111
                  male     449.131579  2.921053  31.066667  0.605263
         S        female   419.460317  2.841270  24.698113  1.476190
                  male     455.131868  2.494505  31.176667  0.461538
1        C        female   447.484375  1.578125  28.645455  0.562500
                  male     532.482759  1.758621  29.725833  0.344828
         Q        female   294.703704  2.851852  21.571429  0.259259
                  male     547.333333  3.000000  29.000000  0.666667
         S        female   447.371429  1.907143  28.996241  0.550000
                  male     451.558442  2.077922  26.386029  0.389610

                             Parch       Fare
Survived Embarked Sex
0        C        female  0.555556  16.215278
                  male    0.212121  38.065342
         Q        female  0.888889  10.904633
                  male    0.131579  13.911732
         S        female  1.126984  25.728508
                  male    0.214286  19.881281
1        C        female  0.484375  83.460286
                  male    0.379310  71.468545
         Q        female  0.000000  13.211733
                  male    0.000000  12.916667
         S        female  0.635714  44.596518
                  male    0.363636  30.366286